
.jumbotron {
    padding-top: 6rem;
    background-color: #635656af;
}

#galery {
    background-color: #7A7373;
}

footer {
    background: black;
    color: white;
}

section {
    padding-top: 4rem;
}

